<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_FILE" value="${LOG_DIR:-.}/jabot-app.log"/>
  <property name="LOG_LEVEL" value="${LOG_LEVEL:-DEBUG}"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%t] %cyan(%logger{45}:%L) - %msg %n</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <appender name="APPLICATION_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE}.%d{yyyyMMdd}.gz</fileNamePattern>
      <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%t] %cyan(%logger{45}:%L) - %msg %n</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <root level="${LOG_LEVEL}">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="APPLICATION_LOG_FILE"/>
  </root>
</configuration>
